
* {
    box-sizing: border-box;
}

li {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    list-style-type: none;
    padding: .5em 0;
}
h2,
h3{
    text-align: center;
    color: black;
    margin-top: 15px;
}

body {
    margin: 0;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    padding: 1em;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
    color: #696969;
}

img {
    max-width: 100%;
}

/* ID's*/
#Contact,
#Portfolio{
    font-size: 1.3em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: bold;

}

.main-name{
    font-size: 2em;
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Muli', sans-serif;
    background-color: lightyellow;
}
.nav-bottom{
    display: none;
}

.main-nav{
    padding-top: 15px;
    padding-right: 40px;
}
.main-nav li{
    margin: 5px;
    background-color: lightpink;
}
.main-nav,
.nav-bottom a:hover {
    color:lightgrey;
}
.main-name a,
.main-nav a,
.nav-bottom a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.home-footer a,
.footer-name,
.main-nav a,
.nav-bottom a {
    font-size: 1em;
    text-transform: uppercase;
    color: slategray;
}

/* second header div*/

.second-header{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    background-color: lavender;
}
.image{
    padding: 30px 0;
}

/* main page*/
.image-width{
    max-width: 100%;
    height: auto;
}

.portfolio-name{
    padding: 20px 0;
    margin-top: 40px;
    margin-bottom: 20px;
}
.portfolio-img{
    display: block;
    margin: auto;
    width: 80%;
}

/* Contact details*/
.contact-main{
    background-color:lightyellow;
    margin-top: 20px;
    padding-bottom: 15px;
}
.contact-details{
    text-align: center;
    padding: 10px;

}
label{
    padding: 10px;
    font-weight: 600;
}
/* footer */
.footer-name{
    float: left;
    margin-top: 15px;
}
.main-footer{
    padding:10px;
}
.home-footer{
    float: right;
}
/* Clearfix */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* media Queries*/
@media (min-width: 768px) {
    .image{
        float: right;
        max-width: 40%;
        padding: 0 10px;
    }
    .main-name{
        margin-top: 15px;
        padding: 20px 0;
    }
    .main-nav {
        max-width: 100%;
        text-align: center;
        display: block;
    }
    .main-nav li{
        display: inline-block;
        text-align: center;
    }
    .about-me{
        float: left;
        max-width: 60%;
        padding: 0 10px;
        margin: 30px 0;
    }

    .main-container{
       width: 100%;
        max-width: 1150px;
        margin: 0 auto;
    }
    .first-container,
    .third-container,
    .fifth-container{
        width: 49%;
        padding:0 10px;
        float: left;
    }
    .second-container,
    .fourth-container,
    .sixth-container {
        width: 50%;
        padding: 0 10px;
        float: right;
    }
    .home-footer {
        display: none;
    }

    .nav-bottom {
        float: right;
        display: block;
    }

    .nav-bottom li {
        display: inline-block;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .main-name {
        float: left;
    }

    .main-nav {
        float: right;
    }

    .second-container,
    .third-container,
    .fourth-container,
    .fifth-container,
    .sixth-container,
    .first-container {
        float: left;
        max-width: 33%;
    }
}




