
*{
    box-sizing: border-box;
}
/* main header div */
.tag{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
body{
    margin:0;
}
.main-header{
    padding-left: 1em;
    padding-right: 1em;
}
/*.main-header{
    width: 100%;
    background: linear-gradient(90deg, lightcoral, darkgray);
    min-height: 50px;
    padding: 10px;
    position: fixed;
    text-align: center;
}*/
.main-name{
    margin-right: auto;
    display: block;
    font-size: 1.25em;

}
/*.main-nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-weight: 700;
    padding:0 20px;
}*/
.main-nav{
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
}
.main-nav li{
    padding: 10px;

}
/* second header div*/
.second-header{

}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.paragraph{
    text-align: center;

}

